html {
  height: 100vh;
}

.wrapper {
  background-color: #cafafe;
  display: grid;
  grid-template-columns: repeat(5, 16.3vw);
  grid-template-rows: repeat(3, 16.3vw);
  height: 100vh;
  justify-content: center;
  align-content: center;
  margin: auto;
}

div {
  padding: 1em; 
}

.box1 {
  display: grid;
  background-color: #fc4445;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0;
}

h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 3vw;
  font-weight: 700;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3vw;
}

.top-line {
  margin-bottom: 0;
}

.bottom-line {
  margin-top: 0;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.6vw;
  font-weight: 600;
}

.icon {
  height: 2.5vw;
  width: auto;
}

.fa-angle-left {
  display: block;
  font-size: 4vw; 
  margin-top: 70%;
  float: left;
}

.fa-angle-right { 
  display: block;
  font-size: 4vw;
  margin-top: 70%;
  float: right;
}

.box2 {
  background-color: #3feee6;
}

.box3 {
  background-image: url("images/Joel Smith - F.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-style: solid;
  border-color: #fc4445;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
  padding: 0 0.5em;
}

.box4 {
  background-color: #97caef;

}

.box5 {
  background-color: #cafafe;
}

.box6 {
  background-color: #97caef;
}

.box7 {
  background-color: #3feee6;
}

.box8 {
  background-color: #fc4445;
}

.box9 {
  background-color: #3feee6;
}

/*this is the nested grid*/
.box10 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

.box11 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}

.box11 button {
  margin-top: 1vw;
}

.box12 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}

button {
  background-color: #fc4445;
  border-style: solid;
  border-color: #000;
  font-size: 1.5vw;
  outline: none;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    align-content: stretch;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(5, 30vw);
    height: auto;
    margin: 4vh auto;
  }

  h1 {
    font-size: 5vw;
    margin-bottom: 0;
    margin-top: 2vw;
  }

  p {
    font-size: 2.5vw; 
  }

  h2 {
    font-size: 2vh;
  }

  .icon {
    height: 3.5vw;
    width: auto;
  }

  .box3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  .box5 {
    background-color: #fc4445;  
  }

  .box6 {
    background-color: #3feee6;
  }

  .box9 {
    background-color: #97caef;
  }

  button {
    font-size: 2.5vw;
  }

}

@media only screen and (max-width: 500px) {
  .wrapper {
    grid-template-columns: repeat(2, 45vw);
    grid-template-rows: repeat(8, 45vw);
    height: auto;
  }

  h1 {
    font-size: 7vw;
  }

  p {
    font-size: 3.5vw; 
  }

  h2 {
    font-size: 3vh;
  }

  .icon {
    height: 5vw;
    width: auto;
  }

  .fa-angle-left {
    margin-top: 75%;
  }

  .fa-angle-right {
    margin-top: 75%;
  }

  .box3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
  }

  .box5 {
    background-color: #97caef
  }

  .box6 {
    background-color: #fc4445;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
  }

  .box7 {
    background-color: #fc4445;
  }

  .box8 {
    background-color: #3feee6;
  }

  .box9 {
    background-color: #97caef;
  }
}
